@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300&family=Jolly+Lodger&family=Lato:wght@300&family=Libre+Baskerville:ital@0;1&family=Libre+Franklin&family=M+PLUS+1:wght@500&family=Merriweather+Sans:wght@600&family=Oswald:wght@300&family=Quicksand&family=Sansita+Swashed:wght@300&display=swap');

/* default body styling */
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* background image and body styling */
body {
    font-family: "Jolly Lodger", sans-serif;
}

html {
    background: url(../images/compressed\ quiz\ background\ image.jpeg) no-repeat center center fixed;
    background-size: cover;
}

/* main title styling */
h1 {
    color: antiquewhite;
    text-align: center;
    width: 100%;
    margin-top: 5%;
    font-size: 650%;
}

