@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300&family=Jolly+Lodger&family=Lato:wght@300&family=Libre+Baskerville:ital@0;1&family=Libre+Franklin&family=M+PLUS+1:wght@500&family=Merriweather+Sans:wght@600&family=Oswald:wght@300&family=Quicksand&family=Sansita+Swashed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300&family=Jolly+Lodger&family=Lato:wght@300&family=Libre+Baskerville:ital@0;1&family=Libre+Franklin&family=M+PLUS+1:wght@500&family=Merriweather+Sans:wght@600&family=Oswald:wght@300&family=PT+Sans+Narrow&family=Paytone+One&family=Quicksand&family=Sansita+Swashed:wght@300&display=swap');

/* default body styling */
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* background image and body styling */
body {
    font-family: "Jolly Lodger", sans-serif;
}

html {
    background: url(../images/compressed\ quiz\ background\ image.jpeg) no-repeat center center fixed;
    background-size: cover;
}

/* main title styling */
h1 {
    color: #e2f4ff;
    text-align: center;
    width: 100%;
    margin-top: 5%;
    font-size: 650%;
    letter-spacing: 5px;
}

/* welcome game box styling */
.game-box {
    height: 420px;
    width: 65%;
    margin: auto;
    background-color: #040a1d;
    border-radius: 5px;
    border: 2px solid #020214;
    box-shadow: 0 0 5px 1px;
}

#intro-text-section {
    text-align: center;
    margin-top: 5%;
}

.intro-text {
    color: #e2f4ff;
    font-size: 220%;
    font-family: Paytone One, sans-serif;
    text-align: center;
    margin: auto;
    padding-bottom: 10px;
}

#button-help {
    font-size: 150%;
    font-family: Paytone One, sans-serif;
    margin: 10px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid #020214;
    background-color: #e2f4ff;
}

#button-help, p {
    width: fit-content;
    height: fit-content;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
}


#button-audio {
    font-size: 150%;
    font-family: Paytone One, sans-serif;
    float: right;
    margin: 10px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid #020214;
    background-color: #e2f4ff;
}

#button-audio, p {
    width: fit-content;
    height: fit-content;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
}

#start-button-section {
    text-align: center;
    margin-top: 7%;
}

#button-start {
    font-family: Paytone One, sans-serif;
    width: fit-content;
    height: 45px;
    border-radius: 5px;
    border: 2px solid #020214;
    font-size: 180%;
    font-weight: 300;
    letter-spacing: 2px;
    background-color: #e2f4ff;
}

#button-start:hover {
    background-color: #bb0000;
}

#button-start, p {
    padding-right: 5px;
    padding-left: 5px;
    width: fit-content;
    text-align: center;
    color: black;
}

.intro-text > .fa-solid {
    color: #bb0000;
}

.intro-text > .fa-solid:hover {
    color: black;
}

/* questions page styling */
#button-restart {
    font-size: 150%;
    font-family: Paytone One, sans-serif;
    float: right;
    margin: 10px;
    height: 37px;
    border-radius: 5px;
    border: 2px solid #020214;
    background-color: #e2f4ff;
}

#button-restart, p {
    padding-right: 5px;
    padding-left: 5px;
    width: fit-content;
    text-align: center;
}

/* help page styling */

#help-title {
    font-family: Paytone One, sans-serif;
    font-size: 160%;
    color: #8c9faa;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
}

.help-text {
    font-size: 100%;
    font-family: Paytone One, sans-serif;
    color: #e2f4ff;
    padding: 10px;
    letter-spacing: 2px;
    text-align: left;
    float: left;
}

.help-text > .fa-solid {
    color: #9e0101;
}

/* questions page styling */

.question-btns {
    margin: 10px;
    background-color: #bb0000;
    width: 80%;
    border: 2px solid #8d0000;
    border-radius: 5px;
    height: 30px;
    color: #e2f4ff;
    font-size: 100%;
    font-family: Paytone One, sans-serif;
}

#question {
    color: #e2f4ff;
    font-size: 170%;
    font-family: Paytone One, sans-serif;
    text-align: center;
    margin-bottom: 3%;
}

#next-btn, #previous-btn {
    font-size: 120%;
    font-family: Paytone One, sans-serif;
    margin-top: 2%;
    height: 33px;
    border-radius: 5px;
    border: 2px solid #020214;
    background-color: #e2f4ff;
    padding-left: 15px;
    padding-right: 15px;
}

#next-btn {
    margin-right: 4%;
    float: right;
}

#previous-btn {
    margin-left: 4%;
}