@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300&family=Jolly+Lodger&family=Lato:wght@300&family=Libre+Baskerville:ital@0;1&family=Libre+Franklin&family=M+PLUS+1:wght@500&family=Merriweather+Sans:wght@600&family=Oswald:wght@300&family=Quicksand&family=Sansita+Swashed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300&family=Jolly+Lodger&family=Lato:wght@300&family=Libre+Baskerville:ital@0;1&family=Libre+Franklin&family=M+PLUS+1:wght@500&family=Merriweather+Sans:wght@600&family=Oswald:wght@300&family=PT+Sans+Narrow&family=Paytone+One&family=Quicksand&family=Sansita+Swashed:wght@300&display=swap');

/* default body styling */
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* background image and body styling */
body {
    font-family: "Jolly Lodger", sans-serif;
}

html {
    background: url(../images/compressed\ quiz\ background\ image.jpeg) no-repeat center center fixed;
    background-size: cover;
}

/* main title styling */
h1 {
    color: #BCC6CC;
    text-align: center;
    width: 100%;
    margin-top: 5%;
    font-size: 650%;
    letter-spacing: 5px;
}

/* welcome game box styling */
.game-box {
    height: 370px;
    width: 60%;
    margin: auto;
    background-color: #15317E;
    border-radius: 5px;
    border: 2px solid #191970;
}

#intro-text-section {
    text-align: center;
    margin-top: 5%;
}

.intro-text {
    color: black;
    font-size: 180%;
    font-family: Paytone One, sans-serif;
    text-align: center;
    margin: auto;
    padding-bottom: 10px;
}

#button-help {
    font-size: 150%;
    font-family: Paytone One, sans-serif;
    margin: 10px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid #191970;
    background-color: #BCC6CC;
}

#button-help, p {
    width: fit-content;
    height: fit-content;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
}


#button-audio {
    font-size: 150%;
    font-family: Paytone One, sans-serif;
    float: right;
    margin: 10px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid #191970;
    background-color: #BCC6CC;
}

#button-audio, p {
    width: fit-content;
    height: fit-content;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
}

#start-button-section {
    text-align: center;
    margin-top: 7%;
}

#button-start {
    font-family: Paytone One, sans-serif;
    width: fit-content;
    height: 45px;
    border-radius: 5px;
    border: 2px solid #191970;;
    font-size: 180%;
    font-weight: 300;
    letter-spacing: 2px;
    background-color: #FF0000;
}

#button-start, p {
    padding-right: 5px;
    padding-left: 5px;
    width: fit-content;
    text-align: center;
}

/* questions page styling */
#button-restart {
    font-size: 150%;
    font-family: Paytone One, sans-serif;
    float: right;
    margin: 10px;
    height: 37px;
    border-radius: 5px;
    border: 2px solid #191970;
    background-color: #BCC6CC;
}

#button-restart, p {
    padding-right: 5px;
    padding-left: 5px;
    width: fit-content;
    text-align: center;
}

/* help page styling */

.help-text {
    font-size: 100%;
    font-family: Paytone One, sans-serif;
    color: rgb(17, 16, 16);
    padding: 10px;
    letter-spacing: 2px;
    text-align: left;
    margin-top: 7px;
}
